.d-flex {
  display: flex;
}

.f-wrap {
  flex-wrap: wrap;
}

.align-c {
  align-items: center;
}

.w-full {
  width: 100%;
}

.w-fit {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.between-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.center-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.space-between {
  justify-content: space-between;
}

.d-block {
  display: block;
}

.d-grid {
  display: grid;
}

.gap-20 {
  gap: 20px;
}

.p-10 {
  padding: 10px;
}

.p-15 {
  padding: 15px;
}

.p-20 {
  padding: 20px;
}

.m-0 {
  margin: 0;
}

.m-20 {
  margin: 20px;
}

.mt-0 {
  margin-top: 0;
}

.mt-5 {
  margin-top: 5px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-20 {
  margin-bottom: 20px;
}

.bg-white {
  background-color: white;
}

.bg-blue {
  background-color: #0075ff;
}

.bg-orange {
  background-color: #f59e0b;
}

.bg-green {
  background-color: #22c55e;
}

.bg-eee {
  background-color: #eee;
}

.c-black {
  color: #000;
}

.c-white {
  color: white;
}

.c-grey {
  color: #888;
}

.c-blue {
  color: #0075ff;
}

.c-orange {
  color: #f59e0b;
}

.c-green {
  color: #22c55e;
}

.c-red {
  color: #f44336;
}

.p-relative {
  position: relative;
}

.txt-c {
  text-align: center;
}

@media (max-width: 767px) {
  .txt-c-mobile {
    text-align: center;
  }
}

.fs-13 {
  font-size: 13px;
}

.fs-14 {
  font-size: 14px;
}

.fs-15 {
  font-size: 15px;
}

.fw-bold {
  font-weight: bold;
}

.b-none {
  border: none;
}

.rad-6 {
  border-radius: 6px;
}

.rad-10 {
  border-radius: 10px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
}

*:focus {
  outline: none;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background-color: #f44336;
}

::-webkit-scrollbar-thumb {
  background-color: #0075ff;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #0d69d5;
}

.page {
  background: #f1f5f9;
  min-height: 100vh;
}

@media (max-width: 767px) {
  .hide-mobile {
    display: none;
  }
}

@media (max-width: 767px) {
  .block-mobile {
    display: block;
  }
}

.page h1 {
  margin: 20px 20px 40px;
}
.page h1:before, .page h1:after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  height: 3px;
}
.page h1:before {
  background-color: white;
  width: 130px;
}
.page h1:after {
  background-color: black;
  width: 40px;
}

.btn-shape {
  padding: 4px 10px;
  border: none;
  border-radius: 6px;
  background-color: #0075ff;
  color: white;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: block;
}
.btn-shape:hover {
  background-color: #0d69d5;
}

.sidebar {
  width: 250px;
  box-shadow: 0 0 10px #ddd;
}
.sidebar > h3 {
  margin-bottom: 50px;
  letter-spacing: -1px;
}
.sidebar > h3 .sidebar > h3:after, .sidebar > h3 .sidebar > h3:before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -20px;
  translate: -50%;
  background-color: #000;
}
@media (max-width: 767px) {
  .sidebar > h3 .sidebar > h3:after, .sidebar > h3 .sidebar > h3:before {
    display: none;
  }
}
.sidebar > h3:before {
  width: 80px;
  height: 2px;
}
.sidebar > h3:after {
  width: 10px;
  height: 10px;
  bottom: -28px;
  border-radius: 50%;
  border: 4px solid white;
}
@media (max-width: 767px) {
  .sidebar > h3 {
    font-size: 11px;
    margin-bottom: 15px;
  }
}
.sidebar ul li a {
  transition: 0.3s;
  margin-bottom: 5px;
}
.sidebar ul li a:hover, .sidebar ul li a.active {
  background-color: #f6f6f6;
}
.sidebar ul li a span {
  margin-left: 10px;
}
@media (max-width: 767px) {
  .sidebar {
    width: 58px;
    padding: 10px;
  }
}

.content .wrapper {
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  margin-left: 20px;
  margin-right: 20px;
}
@media (max-width: 767px) {
  .content .wrapper {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    margin-left: 10px;
    margin-right: 10px;
  }
}

.content .head .search:before {
  font-family: var(--fa-style-family-classic);
  content: "\f002";
  position: absolute;
  font-weight: 900;
  font-size: 14px;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  color: #888;
}
.content .head .search input {
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-left: 5px;
  padding-left: 30px;
  width: 160px;
  transition: width 0.3s;
}
.content .head .search input:focus {
  width: 200px;
}
.content .head .search input:focus::-moz-placeholder {
  opacity: 0;
  -moz-transition: 0.3s;
  transition: 0.3s;
}
.content .head .search input:focus:-ms-input-placeholder {
  opacity: 0;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
.content .head .search input:focus::placeholder {
  opacity: 0;
  transition: 0.3s;
}
.content .head .icons span.notification::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background: #f44336;
  border-radius: 50%;
  right: -5px;
  top: -5px;
}
.content .head .icons img {
  width: 32px;
  height: 32px;
  margin-left: 15px;
}

.welcome {
  overflow: hidden;
}
.welcome .intro img {
  width: 200px;
  margin-bottom: -10px;
}
.welcome .avatar {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  padding: 2px;
  border: 2px solid white;
  box-shadow: 0 0 5px #ddd;
  margin-left: 20px;
  margin-top: -32px;
}
@media (max-width: 767px) {
  .welcome .avatar {
    margin-left: 0;
  }
}
.welcome .body {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
.welcome .body > div {
  flex: 1;
}
@media (max-width: 767px) {
  .welcome .body > div:not(:last-child) {
    margin-bottom: 20px;
  }
}
.welcome .visit {
  margin: 0 15px 15px auto;
  transition: 0.3s;
}
.welcome .visit:hover {
  background-color: #0d69d5;
}

.quick-draft textarea {
  resize: none;
  min-height: 180px;
}
.quick-draft .save {
  margin-left: auto;
  transition: 0.3s;
  cursor: pointer;
}
.quick-draft .save:hover {
  background-color: #0d69d5;
}

.targets .target-row .icon {
  width: 80px;
  height: 80px;
  margin-right: 15px;
}
.targets .target-row .details {
  flex: 1;
}
.targets .target-row .details .progress {
  height: 4px;
}
.targets .target-row .details .progress > span {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
}
.targets .target-row .details .progress > span > span {
  position: absolute;
  bottom: 16px;
  right: -16px;
  color: white;
  padding: 2px 5px;
  border-radius: 6px;
  font-size: 12px;
}
.targets .target-row .details .progress > span > span:before {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  translate: -50%;
  border: 5px solid transparent;
}
.targets .target-row .details .progress .blue > span::before {
  border-top-color: #0075ff;
}
.targets .target-row .details .progress .orange > span::before {
  border-top-color: #f59e0b;
}
.targets .target-row .details .progress .green > span::before {
  border-top-color: #22c55e;
}
.targets .blue .icon,
.targets .blue .progress {
  background-color: rgba(0, 119, 255, 0.1882352941);
}
.targets .orange .icon,
.targets .orange .progress {
  background-color: rgba(245, 159, 11, 0.1882352941);
}
.targets .green .icon,
.targets .green .progress {
  background-color: rgba(34, 197, 94, 0.1882352941);
}

.tickets .box {
  border: 1px solid #ccc;
  width: calc(50% - 10px);
}
@media (max-width: 767px) {
  .tickets .box {
    width: 100%;
  }
}

.latest-news .news-row:not(:last-of-type) {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}
.latest-news .news-row {
  gap: 15px;
}
.latest-news .news-row img {
  width: 100px;
  border-radius: 6px;
}
.latest-news .news-row .info {
  flex-grow: 1;
}
.latest-news .news-row .info h3 {
  margin: 0 0 5px;
  font-size: 16px;
}
.latest-news .news-row .label {
  background-color: #eee;
  color: black;
}
@media (max-width: 767px) {
  .latest-news .news-row .label {
    margin: 10px auto;
    font-weight: light;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}/*# sourceMappingURL=master.css.map */