// <label><input type="checkbox" class="toggle-switch p-relative m-0" checked></label>

// h1 HEADING
.page h1 {
   margin: 20px 20px 40px;
   &:before,
   &:after {
      content: "";
      position: absolute;
      bottom: -10px;
      left: 0;
      height: 3px;
   }
   &:before {
      background-color: white;
      width: 130px;
   }
   &:after {
      background-color: black;
      width: 40px;
   }
}
// h1 HEADING
// BUTTONS //
.btn-shape {
   padding: 4px 10px;
   border: none;
   border-radius: 6px;
   background-color: $blue;
   color: white;
   width: fit-content;
   display: block;
   &:hover {
      background-color: $blue-alt;
   }
}
.btn-dull {
   background-color: #eee;
   color: black;
}
// BUTTONS //
// TOGGLE SWITCH
input.toggle-switch {
   -webkit-appearance: none;
   appearance: none;
   background-color: #ddd;
   width: 54px;
   height: 30px;
   border-radius: 15px;
   cursor: pointer;
   transition: 0.3s;
   &::before {
      font-family: var(--fa-style-family-classic);
      content: "\f00d";
      font-weight: 900;
      position: absolute;
      top: 3px;
      left: 3px;
      background-color: white;
      width: 24px;
      height: 24px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #ddd;
      transition: 0.3s;
   }
   &:checked {
      background-color: $blue;
      &:before {
         content: "\f00c";
         color: $blue;
         left: 27px;
      }
   }
}
// TOGGLE SWITCH
