.content {
   .head {
      .search {
         &:before {
            font-family: var(--fa-style-family-classic);
            content: "\f002";
            position: absolute;
            font-weight: 900;
            font-size: 14px;
            top: 50%;
            left: 15px;
            transform: translateY(-50%);
            color: $grey;
         }
         input {
            border: 1px solid #ccc;
            border-radius: 10px;
            margin-left: 5px;
            padding-left: 30px;
            width: 160px;
            transition: width 0.3s;
            &:focus {
               width: 200px;
            }
            &:focus::placeholder {
               opacity: 0;
               transition: 0.3s;
            }
         }
      }
      .icons {
         span.notification {
            &::before {
               content: "";
               position: absolute;
               width: 10px;
               height: 10px;
               background: $red;
               @include rad-50;
               right: -5px;
               top: -5px;
            }
         }
         img {
            width: 32px;
            height: 32px;
            margin-left: 15px;
         }
      }
   }
}
.content .wrapper {
   grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
   margin-left: 20px;
   margin-right: 20px;
   @media (max-width: 767px) {
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      margin-left: 10px;
      margin-right: 10px;
   }
}
// WELCOME //

.welcome {
   overflow: hidden;
   .intro {
      img {
         width: 200px;
         margin-bottom: -10px;
      }
   }
   .avatar {
      width: 64px;
      height: 64px;
      @include rad-50;
      padding: 2px;
      border: 2px solid white;
      box-shadow: 0 0 5px #ddd;
      margin-left: 20px;
      margin-top: -32px;
      @media (max-width: 767px) {
         margin-left: 0;
      }
   }
   .body {
      border-top: 1px solid #eee;
      border-bottom: 1px solid #eee;

      > div {
         flex: 1;
         &:not(:last-child) {
            @media (max-width: 767px) {
               margin-bottom: 20px;
            }
         }
      }
   }
   .visit {
      margin: 0 15px 15px auto;
      transition: 0.3s;
      &:hover {
         background-color: $blue-alt;
      }
   }
}

// WELCOME //
