/// BOX

.d-flex {
   display: flex;
}
.align-c {
   align-items: center;
}

/// BOX
/// PADDING + MARGIN

.p-10 {
   padding: 10px;
}
.p-20 {
   padding: 20px;
}
.m-20 {
   margin: 20px;
}
.mt-0 {
   margin-top: 0;
}

/// PADDING + MARGIN
/// COLOR

.bg-white {
   background-color: white;
}
.c-black {
   color: #000;
}

/// COLOR
///

.p-relative {
   position: relative;
}

///
/// FONT

.txt-c {
   text-align: center;
}
.fs-14 {
   font-size: 14px;
}

/// FONT
///  BORDER

.rad-6 {
   border-radius: 6px;
}

///  BORDER
